body {
	width: 25rem;
}

#main-container {
	background-color: rgb(242, 242, 242);
}

#logo-img {
	height: 4rem;
	margin: 0.5rem 0;
	object-fit: contain;
}

#find-primers-button {
	width: auto;
	margin: auto;
}
