@import url('./components/primer-list/primer-list.css');

#header-logo {
	height: 5rem;
	margin: 2rem 0;
	object-fit: contain;
}

#loading-row {
	justify-content: center;
}

#loading-spinner {
	width: 4rem;
	height: 4rem;
	margin-top: 1rem;
}
