#exons-table #exon-number-header {
	width: 6rem;
}

#exons-table tbody {
	font-size: small;
}

#exons-table .exon-sequence {
	word-break: break-word;
}

#exons-table .exon-sequence .highlighted {
	background-color: #f9f906;
}